---
layout: default
---
{%- assign status = site.data.status -%}
{%- assign tracker = site.data.tracker -%}
<div class="primary-status-wrapper">
    <div class="container">
        <div class="status-card {{ status.status-class }}">
            <span class="statement">{{ status.statement }}</span>
            <span class="last-update">Updated every 15 minutes.</span>
        </div>
    </div>
</div>

<div class="services-status-wrapper">
    <div class="container">
        {% for tracking in site.data.tracker %}
        <div class="service-card">
            <div class="service-header">
                <h3>{{ tracking.group }}</h3>
                {% if status[tracking.group].group-status == 'operational' %}
                <span class="status is-good">operational</span>
                {% elsif status[tracking.group].group-status == 'partial' %}
                <span class="status is-ok">partial outage</span>
                {% elsif status[tracking.group].group-status == 'major' %}
                <span class="status is-bad">major outage</span>
                {% endif %}
            </div>
            <ul>
                {% for site in tracking.sites %}
                {%- assign state = status[tracking.group].sites[site.name] -%}
                {% if state == 'operational' %}
                {% include success.html %}
                {% elsif state == 'partial' %}
                {% include warning.html %}
                {% elsif state == 'major' %}
                {% include danger.html %}
                {% endif %}
                {% endfor %}
                <!--Individual status-->
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
